@model Fmi.OpenMinds.FitChallenge.Models.Workout
@using Fmi.OpenMinds.FitChallenge.Models 
<h2>Create workout</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <p>Enter the name of the muscle group you want to create?</p>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter name" })
    </div>
    <div class="form-group">
        @Html.Label("Muscle Groups")
        @*@Html.DropDownList("MuscleGroups", new SelectList(Mu, "Id", "Name")) *@
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Enter name" })
    </div>
    <input type="submit" value="Save" class="btn btn-default" />
    @Html.ActionLink("Cancel", "Index", "Workout", new { }, new { @class = "btn btn-default" })
}