@{
    ViewBag.Title = "Wellcome";
}
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Calendar", "Index", "Calendar")</h2>
        <p>
            Calendar helps you to organize and view statistics about your trainings. 
            You plan trainings, suplements and other comments for each day and mark
            whether you have completed the plan.
        </p>
        <div class="col-md-6">
            <img src="~/Content/Images/calendar.png" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Workout", "Index", "Workout")</h2>
        <p>
            You can add different workouts for different muscure groups. Then you can 
            mark this workout as planned for selected day in calendar.
        </p>
        <div class="col-md-6">
            <img src="~/Content/Images/workout.png" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Exercise", "Index", "Exercise")</h2>
        <p></p>
        <div class="col-md-6">
            <img src="~/Content/Images/exercise.png" class="img-responsive" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Measurement", "Index", "Measurement")</h2>
        <p>@Html.ActionLink("Trainees", "TraineesList", "Measurement")</p>
        <div class="col-md-6">
            <img src="~/Content/Images/measurment.png" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Instructor list", "Index", "InstructorRank")</h2>
        <p></p>
        <div class="col-md-12">
            <img src="~/Content/Images/instructors list.png" class="img-responsive" />
        </div>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Training schedule requests", "Index", "TrainingScheduleRequest")</h2>
        <p></p>
        <div class="col-md-6">
            <img src="~/Content/Images/requests.png" class="img-responsive" />
        </div>
    </div>
</div>