@model Fmi.OpenMinds.FitChallenge.Models.Measurement
@using Fmi.OpenMinds.FitChallenge.Models
@using Fmi.OpenMinds.FitChallenge.Web.Helpers
<h2>Create measurement</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    var index = 0;
    
    <div class="form-group">
        @Html.LabelFor(m => m.Date)
        @Html.EditorFor(m => m.Date, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter date" } })
    </div>
    
    foreach (var measurementType in Enum.GetValues(typeof(MeasurementType)))
    {
        var measurementValue = Model.MeasurementValues
            .FirstOrDefault(mv => mv.MeasurementType == (MeasurementType)measurementType);
        double? value = measurementValue != null ? measurementValue.Value : (double?)null;
        <div class="form-group">
            @Html.Label(EnumHelper<MeasurementType>.GetDisplayValue((MeasurementType)measurementType))
            @Html.TextBox("MeasurementValues[" + @index + "].Value", value, new { @class = "form-control", placeholder = "Enter value", @maxlength = "3"})
        </div>
        index++;
    }
    <div>
        <input type="submit" value="Save" class="btn btn-default" />
        <button type="button" class="btn btn-default" name="Back" onclick="location.href='@Url.Action("Index", "Measurement")'">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            Back
        </button>
    </div>
}