@model IEnumerable<Fmi.OpenMinds.FitChallenge.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Instructors list</h2>
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>@Html.ActionLink("Name", "Index", new { isAscending = !ViewBag.IsAscending, orderByColumn = "Name" })</th>
            <th>@Html.ActionLink("Years experience", "Index", new { isAscending = !ViewBag.IsAscending, orderByColumn = "Experience" })</th>
            <th>@Html.ActionLink("Phone number", "Index", new { isAscending = !ViewBag.IsAscending, orderByColumn = "PhoneNumber" })</th>
            <th>@Html.ActionLink("Skype", "Index", new { isAscending = !ViewBag.IsAscending, orderByColumn = "Skype" })</th>
            <th>@Html.ActionLink("Rank", "Index", new { isAscending = !ViewBag.IsAscending, orderByColumn = "Rank" })</th>
            <th>Assess</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.ExperienceYears</td>
                <td>@user.PhoneNumber</td>
                <td>@user.Skype</td>
                <td>@user.Rank</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<div>
    <button type="button" class="btn btn-default" name="Back" onclick="location.href='@Url.Action("Index", "Home")'">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        Back
    </button>
</div>